*{
    margin: 0;
    padding: 0;
}
body{
    font-family: monospace;
    font-size: 25px;
    background-color: #262626;
    overflow-x: hidden;
}
.container{
    width:100%;
    margin: 0 auto;
}
.main-info{
    display: flex;
    justify-content: space-evenly;
}
.container{
    color: #fff;
}
.text h3{
    color: #00FFBB;
    padding: 1em 0;
    font-size: 50px;
}
.text h1{
    font-size: 75px;
}
.text p{
    font-size: 26px;
    padding: 1em 0 0;
}
.text{
    margin-top: 2em;
}
.img img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: -1;
    margin-top: 3em;
}
.socials img{
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
}
.socials ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-direction: column;
}
.socials{
    max-width: 70px;
    padding-top: 1em;
}
.about-me{
    text-align: left;
    padding-top: 1em;
    max-width: 700px;
    margin-left: 5em;
    height: auto;
}
.about-me summary{
    color: #00FFBB;
    font-size: 30px;
}
.about-me a{
    text-decoration: none;
    color: #00FFBB;
}
.resume{
    border: none;
    background-color: #00FFBB;
    border-radius: 10px;
    padding: 1em;
    font-size: 0.7em;
    margin-top: 2em;
    cursor: pointer;
}
.resume a{
    color: #000;
}
.resume:hover{
    background-color: rgba(0, 255, 187, 0.8);
}
.title{
    margin-bottom: 5px;
}
.icons{
    display:flex;
    flex-direction: column;
}
.icons img{
    width: 25px;
    height: 25px;
    margin-top: 15px;
    border-radius: 15px;
}
.email-icon {
    display: flex;
    align-items: end;
}
.phone-icon {
    display: flex;
    align-items: end;
}

.contato p{
    margin-left: 15px;
}
footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3em;
}
