*{
    margin: 0;
    padding: 0;
}
body{
    font-family: monospace;
    font-size: 25px;
    background-image: linear-gradient(to bottom right,#031163 25%, red);
    overflow-x: hidden;
}
.container{
    width:100%;
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 40px;
    padding: 2px;
    background-color: rgba(3, 17, 99, 0.7);
    position: fixed;
    top: 0;
}
.navbar {
    width: 50%;
    float: right;
    padding: 10px 0 0;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 20px;
    justify-content: space-evenly;
}
.nav-bar a{
    color: #fff;
    text-decoration: none;
}
.container{
    color: #fff;
}
.text h3{
    color: rgba(223, 0, 0, 0.7);
    padding: 1em 0;
    font-size: 50px;
}
.text h1{
    font-size: 75px;
}
.text p{
    font-size: 26px;
    padding: 1em 0 0;
}
.text{
    margin: 5em 0 0 5em;
}
.img img{
    position: absolute;
    width: 400px;
    height: 400px;
    right: 4em;
    top: 5em;
    border-radius: 50%;
    z-index: -1;
}
.socials img{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
}
.socials ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.socials{
    max-width: 70px;
    padding-top: 1em;
}
.about-me{
    text-align: left;
    padding-top: 10em;
    max-width: 700px;
    margin-left: 5em;
    height: 19em;
}
.skills{
    padding-top: 4em;
    margin-left: 5em;
}
.resume{
    border: none;
    background-image: linear-gradient(to bottom right,#031163 25%, red);
    border-radius: 10px;
    padding: 1em;
    font-size: 0.6em;
    color: #fff;
    margin-top: 2em;
}
.html-card img{
width: 50px;
height: 50px;
background-color: orangered;
}
.html-card{
    display:flex;
    justify-content: space-evenly ;
    width: 150px;
    height: 100px;
    border: solid 1px black;
    background-color: #cecece;
    border-radius: 10px;
}
.skills{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.title{
    margin-bottom: 5px;
}
.css-card img{
    width: 50px;
    height: 50px;
}
.js-card img{
    width: 50px;
    height: 50px;
}