*{
    margin: 0;
    padding: 0;
}
body{
    font-family: monospace;
    font-size: 25px;
    background-image: linear-gradient(to bottom right,#031163 25%, red);
    overflow-x: hidden;
}
.container{
    width:100%;
    margin: 0 auto;
}
.nav-bar{
    width: 100%;
    height: 40px;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.4)
}
.nav-bar a{
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #fff;
}
.container{
    color: #fff;
}
.text h3{
    color: rgba(223, 0, 0, 0.7);
    padding: 10px 0;
}
.text h1{
    font-size: 45px;
}
.text{
    margin: 5em 0 0 5em;
}
.img img{
    position: absolute;
    width: 250px;
    height: 250px;
    right: 7em;
    top: 6em;
    border-radius: 50%;
}
.socials img{
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
}
.socials ul{
    display: flex;
    list-style: none;
}
.socials{
    max-width: 70px;
    float: right;
    padding-top: 5em;
}
.about-me{
    text-align: left;
    padding-top: 5em;
    max-width: 700px;
    margin-left: 5em;
}
.skills{
    padding-top: 2em;
    margin-left: 5em;
}