*{
    font-family: sans-serif;
}
.todo-list{
    position: absolute;
    top: 40%;
    left: 10%;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    border: solid 1px black;
    color: #fff;
    background-image: linear-gradient(45deg,#2fa4ff,#0e185f);
}
.todo-list h1 , p{
    text-align: center;
}
.btnAddTask{
    border: none;
    background-color: rgb(17, 86, 102);
    border-radius: 10px;
    width: 125px;
    height: 27px;
    color: #fff;
}
button.Apagar{
    border: none;
    background-color: rgb(17, 86, 102);
    border-radius: 10px;
    width: 50px;
    height: 27px;
    color: #fff;
}
.tasks li{
    list-style: none;
}




